
body {
	font-family: 'Balsamiq Sans', cursive;
}
#home {
	
	background-image: url("img/showcase.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat ;
}
@media(min-width: 768px){
	.news-input{
		width: 50%;
	}
}
#projects {
	background-color: rgba(63, 131, 191, 0.2);
}
#about {
	background-color: rgba(187, 63, 191, 0.1);
}
#contact {
	background-color: rgb(230, 255, 230);
}
.icon {
	color: rgb(245, 170, 66) ;
}
.link {
	text-decoration: none;
}
.mkfloat {
	float: right;
}

@media only screen and (min-width: 769px) {
	.cardproj {
		width: 100%;
		flex-direction: row;
		}
	.cardproj img {
		width: 30%;
		}
}

#btn-stt  {
	position: fixed;
	
	right: 20px;
	bottom: 20px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	z-index: 100;
}


.ic:hover {
	color: #660033;

}

@media all and  (min-width:200px) and (max-width:500px) {
	#ourTeam{
		height: 60vh;
	}
	
}



.article{
 animation: animations 3s ease-in-out 1s;
}

.navbar{
	animation: navbaranimation 2s ease-in-out ;
}

#home{
     animation: showcaseanimation 2s ease-in-out forwards;
}

#newsletter{
	animation: newsanimation 4s ease-in-out;
}

@keyframes newsanimation {
	from{
       opacity: 0;
	}
	to{
      opacity: 1;
	}
	
}

@keyframes  animations {
	from{
       opacity:0;
	   transform: translateX(100%);
	}
	to{
		opacity:1;
		transform:translateX(0%);
	}
	
}

@keyframes showcaseanimation{
	from{
       opacity: 0;
	   transform: translatez(0);
	}
	to{
       opacity: 1;
	   transform: translatez(100%);
	}
}

@keyframes navbaranimation {
	from{
       height:0;
	   opacity:0;
	   
	}
	to{
       height:76px;
	   opacity:1;
	}
}
.email-boxnews{
  height: 40px;
  justify-content: center;
  display: flex; /*its better to use inline-flex*/
}
.email-boxnews i{
  background: #2f3542;
  width: 40px;
  line-height: 40px;
  background-size: cover;
  padding-left:10px;
  border-radius: 4px;
}
.tboxnews,.btnnews{
  border: none;
  outline: none;
}
.tboxnews{
  width: 0px;
  transition: 0.6s;
}
.email-boxnews:hover > .tboxnews,.tboxnews:focus{
  width: 260px;
  padding: 0 10px;
}
.btnnews{
  background: #2f3542;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

@media all and (max-width:600px){
	.swiper-button-prev::after,.swiper-button-next::after{
		display:none;
	}
}
